<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # If the requested path is not an actual file or directory, redirect to index.html
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.html [L]
</IfModule>
